@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
	font-family: Roboto, sans-serif;
}

h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 400;
}

h3 {
	font-weight: 400;
	margin-top: 18px;
	margin-bottom: 24px;
	font-size: 22px;
}


.customRounded .borderSegment.end {
	border-radius: 0 130px 130px 0 !important;
}